## A. What is the variance of the data set (8,16,21,16,36)?

In [1]:
import numpy as np
import pandas as pd

data = pd.DataFrame([8,16,21,16,36], columns=['Data Set'])
data

   Data Set
0         8
1        16
2        21
3        16
4        36

## Mean

In [2]:
mean = data.mean()
mean

Data Set    19.4
dtype: float64

## Differences from the mean

In [3]:
diff = data['Data Set'].apply(lambda x: x - mean)
diff

   Data Set
0     -11.4
1      -3.4
2       1.6
3      -3.4
4      16.6

## Squared Differences

In [4]:
square = diff['Data Set'].apply(lambda x: x**2)
square

0    129.96
1     11.56
2      2.56
3     11.56
4    275.56
Name: Data Set, dtype: float64

## Average of Squared Differences

In [5]:
ave = square.mean()
ave

86.24000000000001

## Standard Deviation

In [8]:
data_std = np.sqrt(ave)
data_std

9.28654941299512

## B. Conditional Probability of BCS students

In [9]:
x = 0.88
y = 0.75

#Formula: P(B|A) = P (A U B) / P(A)

B = round((y / x) * 100)
B

85